#wary{width: 100%;height: 100%;background: #efefef }
.sy{width: 100%;height: 130px;background: #fff;}
.sy_yy{width: 100%;height: 130px; margin-left: 35px;}
.sy_yy img{padding-top: 35px;}
.fuck{border-left: 1px solid #999; font-size: 16px; padding-left: 15px;position: relative;top: 25px;}
.witer{width: 130px;height: 30px;font-size: 13px; border:1px solid #e21357;text-align: center;line-height: 30px; position: absolute;right: 100px;top: 80px;}
.witer a{color: #e21357;}

.left_la{font-weight: inherit;}
.input_denglu{background-color:#e21357;padding: 5px 115px ;border: 0;color: #fff;}


.zc{ width: 1190px; height: 380px; margin: 30px 35px 20px 35px;background: #fff;}
.main{float: left;}
.form_div{width: 435px;height: 377px;float: left;}
.f-fn input{margin-top: 20px;width: 275px; height: 30px; line-height: 30px;}
.f-fn{margin-left: 35px;}
.f-fn{font-size: 13px;}
.f_fun input{margin-left: 13px;}

.func_fun{margin:25px 0 0 110px;}

.func_fun button{width:274px;padding:0;background-color: #e21357;border:0;color: #fff;height: 30px;}
.yxzc{margin-top: 9px;font-size: 12px;}
.yxzc a{color: red;}

.tb{float: left;}






#bottom,.bb{background: #fff;}
.bb{margin: 0;}



